

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.video-bg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center bottom;
    z-index: -1;
    filter: brightness(0.9);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: brightness(0.9);
}

.output-main {
    min-width: 350px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1;
    position: relative;
}
.output_inner {
    margin-top: -315px;
}